{% extends 'base.html' %}
{% block content %}
<style>
    .info {
        text-align: justify
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
    }
    .profiledata{
        text-align: center;
        width: fit-content;
        height: fit-content;
    }
    .user{
        text-align: center;
    }
</style>

<div>
    {% if user.is_authenticated %}
    <h1 class="user">Profile information: {{ user.username }} </h1>
        <br/>
    <div class="info" >
        <p1 > Bio:</p1></br>
        <div class="profiledata">{{user_data.bio}}</div> 
        
        <p2>Location: </p2></br>
        <div class="profiledata">
            {{user_data.location}} 
        </div>
        <p3> Birth Day: </p3></br>
        <div class="profiledata">
            {{user_data.birth_date}}
        </div>
    </div></br>
    <button id="toggleButton">Update Profile</button>
        <div id="hiddenContent" class="hidden" style="display: none;">
            <p style="text-align: center;"> Warning: this will modify your profile data</p>
            <form action="{% url 'update_profile' %}" method="get" style="text-align: center;">
                <button type="submit" class="btn btn-danger">Update</button>
            </form>
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                document.getElementById('toggleButton').addEventListener('click', function() {
                    var content = document.getElementById('hiddenContent');
                    if (content.style.display === 'none') {
                        content.style.display = 'block';
                    } else {
                        content.style.display = 'none';
                    }
                });
            });
        </script>
    {% endif %}
</div>
{% endblock %}